*.pyc
*.log
*.dump
*.csv
# for the moment the python config file
#source/configs.py

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# All the config Files that contain private information
*_private.ini

All the specific analysis outputs, such as GDF files:
outputs/
dumps/

#Pycharm Idea files:
.idea/*
.idea

# the builds of the documentation (they should be processed by ReadTheDocs)
docs/build/*
# logs
logs/*
# outputs
outputs/*